<h3><%= @app_name %></h3>
<p>
  Gentile <%= @username %>, la tua nuova password di accesso a <%= @app_name %> è: <%= @password %>
  <br/>
  Puoi accedere al servizio tramite il seguente link: <a href="<%= @login_url %>" target="_blank">val al login</a>.
</p>
