<% status = '' unless local_assigns[:status] %>
<% new_id = "urr_#{new_id(urr)}" %>

<% unless urr %>
<% urr = Intersail::ZfClient::ZUrr.new(id: nil,
                                       unit_id: nil, role_id: nil, resource_id: nil,
                                       unit: Intersail::ZfClient::ZUnit.new(id: nil, name: nil),
                                       role: Intersail::ZfClient::ZRole.new(id: nil, name: nil),
                                       resource: Intersail::ZfClient::ZResource.new(id: nil, first_name: nil, last_name: nil)) %>
<% end %>



<tr id="<%= new_id %>" class="urr_row <%= status %>">

  <td class="list_row_icon" >
    <%= image_tag 'zf_user_manager/urr.png', size: '24x24' %>
  </td>

  <% if @section == :user %>
      <td class="row_unit_name destroyable"><%= urr.unit && urr.unit.name %></td>
      <td class="row_role_name destroyable"><%= urr.role && urr.role.name %></td>
  <% elsif @section == :unit %>
      <td class="row_resource_name destroyable"><%= @unit_urr_resources[urr.resource_id] %></td>
      <td class="row_role_name destroyable"><%= @unit_urr_roles[urr.role_id] %></td>
  <% elsif @section == :role %>
      <td class="row_resource_name destroyable"><%= @role_urr_resources[urr.resource_id] %></td>
      <td class="row_unit_name destroyable"><%= @role_urr_units[urr.unit_id] %></td>
  <% end %>

  <td class="zum_urr_table_actions_col">

    <% if @section == :user %>
        <a class="btn btn-primary btn-xs urr_edit_button" onclick="edit_urr('<%= new_id %>', <%= urr.unit_id || 'null' %>, <%= urr.role_id || 'null' %>, null);" >
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    <% end %>
    <%# if false %>
        <!--<a class="btn btn-danger btn-xs urr_destroy_button" onclick="destroy_urr('<%= new_id %>');">-->
          <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
        <!--</a>-->
    <%# end %>

  </td>

  <%= fields_for "urrs[]", urr do |f| %>
      <%= f.hidden_field :urr_id, class: 'row_urr_id', value: urr.id %>
      <%= f.hidden_field :unit_id, class: 'row_unit_id', value: urr.unit_id %>
      <%= f.hidden_field :role_id, class: 'row_role_id', value: urr.role_id %>
      <%= f.hidden_field :resource_id, class: 'row_resource_id', value: urr.resource_id %>
      <%= f.hidden_field :_destroy, class: 'row_destroy', value: 0 %>
      <%= f.hidden_field :_edited, class: 'row_update', value: 0 %>
  <% end %>
</tr>