<div class="zum_inspector_data">
  <div class="zum_inspector_data_container">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#user_info" aria-controls="user_info" role="tab" data-toggle="tab">Info Utente</a></li>
        <li role="presentation"><a href="#user_profiles" aria-controls="user_profiles" role="tab" data-toggle="tab">Profili</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active zum_inspector_tab" id="user_info">
          <%= form_tag "/user_manager/users/#{@user.id}#{search_params_for_url}", method: :put, class: 'form-horizontal user_data_form' do %>
              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                  <%= text_field_tag :username, @user.username, class: 'form-control', placeholder: 'Username'  %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                  <%= text_field_tag :password, @user.password, type: 'password', class: 'form-control', placeholder: 'Password'  %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                  <%= text_field_tag :password_confirmation, '', type: 'password', class: 'form-control', placeholder: 'Conferma password'  %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                  <%= text_field_tag :mail, @user.profile.mail, class: 'form-control', placeholder: 'Email'  %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Nome</label>
                <div class="col-sm-9">
                  <%= text_field_tag :first_name, @user.profile.first_name, class: 'form-control', placeholder: 'Nome'  %>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Cognome</label>
                <div class="col-sm-9">
                  <%= text_field_tag :last_name, @user.profile.last_name, class: 'form-control', placeholder: 'Cognome'  %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag :active, 'true', @user.active %> Abilitato
                    </label>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane zum_inspector_tab" id="user_profiles">
          <div class="zum_profiles_header_container">
            <div class="zum_profiles_header">
              <div class="zum_profile_title">Profili</div>
              <button type="button" onclick="add_profile();" class="btn btn-primary btn-xs zum_new_profile">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= I18n.t("zf_user_manager.buttons.#{@section.to_s}.new_profile") %>
              </button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="zum_profiles_table_container">
            <div class="zum_profiles_table">
              <% unless @user.urrs.blank? %>
                  <table class="table">
                    <thead>
                    <th></th>
                    <th>Unità</th>
                    <th>Ruolo</th>
                    <th></th>
                    </thead>

                    <tbody>
                    <% @user.urrs.each do |urr| %>
                        <tr id="<%= urr.id %>">
                          <td class="list_row_icon">
                            <%= image_tag 'zf_user_manager/profile.png', size: '24x24' %>
                          </td>
                          <td><%= urr.unit.name %></td>
                          <td><%= urr.role.name %></td>
                          <td class="zum_profile_table_actions_col">
                            <%= link_to "/user_manager/users/#{@user.id.to_s}/destroy_profile/#{urr.id.to_s}", method: :post, class: 'btn btn-danger btn-xs' do %>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <% end %>
                          </td>
                        </tr>

                    <% end %>
                    </tbody>
                  </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="zum_inspector_footer">
  <button type="button" class="btn btn-primary btn-sm" onclick="$('.user_data_form').submit();">Salva</button>
  <%= link_to 'Elimina', "/user_manager/users/#{@user.id.to_s}#{search_params_for_url}", method: :delete, class: 'btn btn-danger btn-sm' %>
</div>