<%= render "intersail/zf_user_manager/scripts/select_record" %>

<div class="zum_scrollable">
  <table class="table table-striped table-hover">
    <thead>
    <th></th>
    <th>Processo</th>
    <th>Attività</th>
    <th>Unità</th>
    <th>Ruolo</th>
    <th>Risorsa</th>
    <th>Abilitato</th>
    </thead>

    <tbody class="user_table_body">

    <% @acls.each do |acl| %>

        <tr id="acl_<%= acl.id %>" onclick="select_record(<%= acl.id %>);" class="<%= row_selected(acl, @acl) %>">
          <td class="list_row_icon">
            <%= image_tag "zf_user_manager/#{@section.to_s}.png", size: '24x24' %>
          </td>
          <td><%= @process_def_dictionary[acl.process_def_id] %></td>
          <td><%= @activity_def_dictionary[acl.activity_def_id] %></td>
          <td><%= @unit_dictionary[acl.unit_id] %></td>
          <td><%= @role_dictionary[acl.role_id] %></td>
          <td><%= @resource_dictionary[acl.resource_id] %></td>
          <td>
            <%= enable_icon(acl.enabled) %>
          </td>
        </tr>

    <% end %>

    </tbody>
  </table>
</div>