<div class="zum_scrollable">
  <table class="table table-striped table-hover">
    <thead>
    <th></th>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Padre</th>
    </thead>

    <tbody class="user_table_body">

    <% @roles.each do |role| %>

        <tr id="role_<%= role.id %>" onclick="window.location.href = '<%= "/unit_manager/roles/#{role.id}#{search_params_for_url}" %>'" class="<%= row_selected(role, @role) %>">
          <td class="list_row_icon">
            <%= image_tag "zf_user_manager/#{@section.to_s}.png", size: '24x24' %>
          </td>
          <td><%= role.name %></td>
          <td><%= role.description %></td>
          <td><%= role.parent.name %></td>
        </tr>

    <% end %>

    </tbody>
  </table>
</div>