<div class="zum_scrollable">
  <table class="table table-striped table-hover">
    <thead>
        <th></th>
        <th>Username</th>
        <th>Email</th>
        <th>Nome</th>
        <th>Abilitato</th>
    </thead>

    <tbody class="user_table_body">

        <% @users.each do |user| %>

            <tr id="<%= user.id %>" onclick="window.location.href = '<%= "/user_manager/users/#{user.id}#{search_params_for_url}" %>'" class="<%= row_selected(user, @user) %>">
              <td class="list_row_icon">
                <%= image_tag "zf_user_manager/#{@section.to_s}.png", size: '24x24' %>
              </td>
              <td><%= user.username %></td>
              <td><%= user.resource.mail %></td>
              <td><%= "#{user.resource.first_name} #{user.resource.last_name}" %></td>
              <td>
                <%= enable_icon(user.active) %>
              </td>
            </tr>

        <% end %>

    </tbody>
  </table>
</div>