<% @section = :user %>

<div class="zum_main">

  <div class="zum_primary_menu">
    <%= render "intersail/zf_user_manager/partials/primary_menu" %>
  </div>

  <div class="zum_main_content">
    <div class="zum_standard_container">
      <div class="zum_search_container">
        <div class="zum_search">
            <%= render "intersail/zf_user_manager/partials/search/#{@section.to_s}_search" %>
        </div>
      </div>
      <div class="zum_manager_container">
        <div class="zum_standard_container">
          <div class="zum_manager_viewer">
            <div class="zum_viewer_action_row">
              <div class="zum_viewer_actions">
                <%= render "intersail/zf_user_manager/partials/viewer_action_row" %>
              </div>
            </div>
            <div class="zum_viewer_table">
              <%= render "intersail/zf_user_manager/partials/viewer/#{@section.to_s}_viewer" %>
            </div>
          </div>
          <div class="zum_manager_inspector">
            <div class="zum_inspector">
              <%= render "intersail/zf_user_manager/partials/inspector/#{@section.to_s}_inspector" %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

</div>















