<div class="zum_main">

  <div class="zum_primary_menu">
    <%= render "intersail/zf_user_manager/partials/primary_menu" %>
  </div>

  <div class="zum_main_content zum_messages_hidden">
    <div class="zum_standard_container">
      <div class="zum_messages_container">
        <%= render_messages %>
      </div>
      <div class="zum_search_container">
        <div class="zum_search">
            <%= render "intersail/zf_user_manager/partials/search/#{@section.to_s}_search" %>
        </div>
      </div>
      <div class="zum_manager_container">
        <div class="zum_standard_container">
          <div class="zum_manager_viewer">
            <div class="zum_viewer_action_row">
              <div class="zum_viewer_actions">
                <%= render "intersail/zf_user_manager/partials/viewer_action_row" %>
              </div>
            </div>
            <div class="zum_viewer_table">
              <%= render "intersail/zf_user_manager/partials/viewer/#{@section.to_s}_viewer" %>
            </div>
          </div>
          <div class="zum_manager_inspector">
            <div class="zum_inspector"></div>
          </div>
          <%= clear %>
        </div>
      </div>
    </div>
  </div>

  <!-- MODALS -->
  <div class="modal fade" id="ZUM_MODAL" data-backdrop="false" >
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

</div>












