
<div class="form-group">
  <label class="col-sm-3 control-label">Processo</label>
  <div class="col-sm-9">
    <%= select_tag(:process_def_id, options_for_select(@process_def_select, @acl.process_def_id ), class: 'form-control') %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Attività</label>
  <div class="col-sm-9">
    <%= select_tag(:activity_def_id, options_for_select(@activity_def_select, @acl.activity_def_id), class: 'form-control', include_blank: true) %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Unità</label>
  <div class="col-sm-5">
    <%= select_tag(:unit_id, options_for_select(@unit_select, @acl.unit_id), class: 'form-control', include_blank: true) %>
  </div>
  <div class="col-sm-4">
    <%= select_tag(:inherit_unit, options_for_select(@inherit_select, @acl.inherit_unit), class: 'form-control', include_blank: true) %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Ruolo</label>
  <div class="col-sm-5">
    <%= select_tag(:role_id, options_for_select(@role_select, @acl.role_id), class: 'form-control', include_blank: true) %>
  </div>
  <div class="col-sm-4">
    <%= select_tag(:inherit_role, options_for_select(@inherit_select, @acl.inherit_role), class: 'form-control', include_blank: true) %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Risorsa</label>
  <div class="col-sm-9">
    <%= select_tag(:resource_id, options_for_select(@resource_select, @acl.resource_id), class: 'form-control', include_blank: true) %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Tipo</label>
  <div class="col-sm-9">
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="radio-inline">
        <%= radio_button_tag(:not_acl_action_!, '1', !@acl_actions[:!], name: 'acl_action_!') %> Permetti
      </label>
    </div>
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="radio-inline">
        <%= radio_button_tag(:acl_action_!, '1', @acl_actions[:!], name: 'acl_action_!') %> Nega
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Azioni</label>
  <div class="col-sm-9">
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_r, '1', @acl_actions[:r]) %> Lettura
      </label>
    </div>
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_w, '1', @acl_actions[:w]) %> Scrittura
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label"></label>
  <div class="col-sm-9">
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_x, '1', @acl_actions[:x]) %> Esecuzione
      </label>
    </div>
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_c, '1', @acl_actions[:c]) %> Creazione
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label"></label>
  <div class="col-sm-9">
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_a, '1', @acl_actions[:a]) %> Assegnazione
      </label>
    </div>
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_t, '1', @acl_actions[:t]) %> Assegnazione Tar.
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label"></label>
  <div class="col-sm-9">
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_k, '1', @acl_actions[:k]) %> Commento
      </label>
    </div>
    <div class="col-sm-6" style="padding:0px 10px 0px 0px;">
      <label class="checkbox-inline">
        <%= check_box_tag(:acl_action_d, '1', @acl_actions[:d]) %> Annullamento
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Priorità</label>
  <div class="col-sm-9">
    <%= text_field_tag :priority, @acl.priority, class: 'form-control', placeholder: 'Priorità'  %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <div class="checkbox">
      <label>
        <%= check_box_tag(:mandatory, '1', @acl.mandatory) %> Obbligatorio
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <div class="checkbox">
      <label>
        <%= check_box_tag(:enabled, '1', @acl.enabled) %> Abilitato
      </label>
    </div>
  </div>
</div>
