<%= javascript_tag do %>
    function submit_new_urr() {
        $('.urr_new_form #unit_name').val($(".urr_new_form #unit option:selected").text());
        $('.urr_new_form #role_name').val($(".urr_new_form #role option:selected").text());
        $('.urr_new_form').submit();
    }
<% end %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Crea profilo</h4>
</div>
<div class="modal-body">
  <%= form_tag "/user_manager/urrs/new", method: :get, remote: true, class: 'form-horizontal urr_new_form' do %>
      <div class="form-group">
        <label for="modal_unit_select" class="col-sm-2 control-label">Unità</label>
        <div class="col-sm-6">

          <%= select_tag(:unit, options_for_select(@unit_select), class: 'form-control') %>

        </div>
      </div>
      <div class="form-group">
        <label for="modal_unit_role" class="col-sm-2 control-label">Ruolo</label>
        <div class="col-sm-6">

          <%= select_tag(:role, options_for_select(@role_select), class: 'form-control') %>

        </div>
      </div>

      <%= hidden_field_tag(:resource, @user.resource.id ) %>
      <%= hidden_field_tag(:unit_name, '' ) %>
      <%= hidden_field_tag(:role_name, '' ) %>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
  <button type="button" onclick="submit_new_urr();" data-dismiss="modal" class="btn btn-primary" >Crea</button>
</div>

