<%= javascript_tag do %>
    function submit_new_urr() {

    <% if defined? @unit_select %>
        $('.urr_new_form #unit_name').val($(".urr_new_form #unit option:selected").text());
    <% end %>

    <% if defined? @role_select %>
        $('.urr_new_form #role_name').val($(".urr_new_form #role option:selected").text());
    <% end %>

    <% if defined? @resource_select %>
        $('.urr_new_form #resource_name').val($(".urr_new_form #resource option:selected").text());
    <% end %>

    $('.urr_new_form').submit();
    }
<% end %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Crea profilo</h4>
</div>
<div class="modal-body">
  <%= form_tag "/user_manager/urrs/new", method: :get, remote: true, class: 'form-horizontal urr_new_form' do %>

      <% if defined? @resource_select %>
          <div class="form-group">
            <label for="modal_resource_select" class="col-sm-2 control-label">Unità</label>
            <div class="col-sm-6">

              <%= select_tag(:resource, options_for_select(@resource_select), class: 'form-control') %>

            </div>
          </div>
      <% end %>

      <% if defined? @unit_select %>
          <div class="form-group">
            <label for="modal_unit_select" class="col-sm-2 control-label">Unità</label>
            <div class="col-sm-6">

              <%= select_tag(:unit, options_for_select(@unit_select), class: 'form-control') %>

            </div>
          </div>
      <% end %>

      <% if defined? @role_select %>
          <div class="form-group">
            <label for="modal_unit_role" class="col-sm-2 control-label">Ruolo</label>
            <div class="col-sm-6">

              <%= select_tag(:role, options_for_select(@role_select), class: 'form-control') %>

            </div>
          </div>
      <% end %>

      <% if @section == :user %>
          <%= hidden_field_tag(:resource, @user.resource.id ) %>
          <%= hidden_field_tag(:unit_name, '' ) %>
          <%= hidden_field_tag(:role_name, '' ) %>
      <% elsif @section == :unit %>
          <%= hidden_field_tag(:resource, '' ) %>
          <%= hidden_field_tag(:unit_name, @unit.id ) %>
          <%= hidden_field_tag(:role_name, '' ) %>
      <% elsif @section == :role %>
          <%= hidden_field_tag(:resource, '' ) %>
          <%= hidden_field_tag(:unit_name, '' ) %>
          <%= hidden_field_tag(:role_name, @role.id ) %>
      <% end %>

  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
  <button type="button" onclick="submit_new_urr();" data-dismiss="modal" class="btn btn-primary" >Crea</button>
</div>

